<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Aide</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Légende</h3>

  <div class="legende">
    <p><img class="a_propos_img" src="assets/img/bicycle_a_propos.png">  Vélos disponibles</p>
    <p><img class="a_propos_img" src="assets/img/parking.png">  Places pour garer un vélo</p>
    <p><img class="a_propos_img" src="assets/img/geolocate.png">  Centrer sur ma position</p>
    <p><img class="a_propos_img" src="assets/img/refresh.png">  Rafraichissement des données</p>
    <p><img class="a_propos_img" src="assets/img/piste.png">  Afficher/Cacher les pistes cyclables</p>
    <p><img class="a_propos_img" src="assets/img/layer.png">  Changer le fond de plan</p>
    <p><img class="a_propos_img" src="assets/img/filter.png">  Afficher/Cacher les stations fermées</p>
    <p><img class="a_propos_img" src="assets/img/favoris_plein.png">  Station favorite</p>
    <p><img class="a_propos_img" src="assets/img/station_vert.png">  Plus de 5 places pour garer un vélo</p>
    <p><img class="a_propos_img" src="assets/img/station_orange.png">  Moins de 5 places pour garer un vélo</p>
    <p><img class="a_propos_img" src="assets/img/station_rouge.png">  Plus de place pour garer un vélo</p>
    <p><img class="a_propos_img" src="assets/img/station_noire.png">  Station fermée</p>
  </div>
</ion-content>


<ion-footer>
  <div class="bottom_bar">
    Codé avec le &#9825;
  </div>
</ion-footer>
