page-a_propos {
  .bottom_bar
  {
    position: fixed;
    bottom: 0vh;
    width: 100%;
    text-align: center;
    background-color: white;
    padding : 10px;
  }

  h3 {
    text-align: center;
  }

  .legende {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .a_propos_img {
    height:35px;
    width:35px;
    vertical-align: -10px;
  }
}
