<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stations</ion-title>
  </ion-navbar>
</ion-header>

<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" (ionCancel)="onCancel($event)"></ion-searchbar>

<ion-content>



  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <div ion-item *ngFor="let item of items" [@stationState]="item.state" (scroll)="onScroll($event)">
      <div class="station" (click)="itemTapped(event,item)">
        <div class="item_name">
          {{ item.name }}
        </div>
        <div class="info_station">
          {{ item.available_bikes }}/{{ item.available_bike_stands + item.available_bikes}}<img class="icon_popup" src="assets/img/bicycle.png" />
        </div>
      </div>
      <div class="info_cachees">
        <div class="infos">
          Distance : {{ item.distance < 1000 ? item.distance + "m" : item.distance/1000 + "km"}}
        </div>
        <button *ngIf="item.favoris == 'favoris'" [@stationFavoris]="item.state" class="btn_fav" (click)="clicFavoriDelete(item)"><img class="img-fav" src="assets/img/favoris_plein.png" /></button>
        <button *ngIf="item.favoris == 'commun'" [@stationCommun]="item.state" class="btn_fav" (click)="clicFavoriAdd(item)"><img class="img-fav" src="assets/img/favoris_vide.png" /></button>
      </div>
    </div>
  </ion-list>

</ion-content>
