page-favoris {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .icon_popup {
    height: 40px;
    padding: 0px 15px 0 10px;
    position: relative;
    top: 5px;
  }

  .station
  {
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    font-size: 14px;
    font-family: "OpenSans";
    display:block;
  }

  .info_station
  {
    line-height: 50px;
    height: 50px;
    float: right;
    position: relative;
    bottom: 10px;
    font-size: 12px !important;
  }

  .item-md
  {
    padding-left: 0px !important;
  }

  .label-md {
    margin: 0 8px 0 16px !important;
  }

  .item_name
  {
    width: 150px;
    float:left;
  }

  .item-block, .item, .item-md
  {
    overflow:hidden;
    display: block;
    border-bottom: 1px solid rgba(17, 17, 17, 0.12);
  }

  .info_cachees
  {
    height:50px;
  }

  .img-fav
  {
    height:30px;
    padding: 0 10px;
  }

  .btn_fav
  {
    float:right;
    background:transparent;
    z-index:50;
  }

  .infos{
    display: inline;
    line-height: 35px;
    font-size:12px;
    font-style:italic;
    float:left;
  }
}
