<ion-header>

  <ion-navbar>
    <ion-title>Favoris</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <div ion-item *ngFor="let item of items" [@stationState]="item.state" [@stationFavoris]="item.favoris">
      <div class="station" (click)="itemTapped(event,item)">
        <div class="item_name">
          {{ item.name }}
        </div>
        <div class="info_station">
          {{ item.available_bikes }}/{{ item.available_bike_stands + item.available_bikes}}<img class="icon_popup" src="assets/img/bicycle.png" />
        </div>
      </div>
      <div class="info_cachees">
        <div class="infos">
          Distance : {{ item.distance < 1000 ? item.distance + "m" : item.distance/1000 + "km"}}
        </div>
        <button class="btn_fav" (click)="clicFavoriDelete(item)"><img class="img-fav" src="assets/img/favoris_plein.png" /></button>
      </div>
    </div>
  </ion-list>
</ion-content>
