page-map {

  #map {
    width: 100%;
    height: 100%;
  }

  [padding],
  [padding] .scroll-content {
    padding: 0px;
  }

  .geolocate_button {
    width : 40px;
    height : 40px;
    position: fixed;
    top: 150px;
    left: 3px;
    z-index: 5;
    padding: 0px;
    background-color: transparent;
  }

  .geolocate_img{
    width: 100%;
    height: 100%;
  }

  .refresh_button {
    width : 40px;
    height : 40px;
    position: fixed;
    top: 200px;
    left: 3px;
    z-index: 5;
    padding: 0px;
    background-color: transparent;
  }

  .displayPiste_img{
    width: 100%;
    height: 100%;

  }

  .displayPiste_button {
    width : 40px;
    height : 40px;
    position: fixed;
    top: 250px;
    left: 3px;
    z-index: 5;
    padding: 0px;
    background-color: transparent;
  }

  .changeLayer_img{
    width: 100%;
    height: 100%;

  }

  .changeLayer_button {
    width : 40px;
    height : 40px;
    position: fixed;
    top: 300px;
    left: 3px;
    z-index: 5;
    padding: 0px;
    background-color: transparent;
  }

  .filter_img{
    width: 100%;
    height: 100%;

  }

  .filter_button {
    width : 40px;
    height : 40px;
    position: fixed;
    top: 350px;
    left: 3px;
    z-index: 5;
    padding: 0px;
    background-color: transparent;
  }

  .refresh_img{
    width: 100%;
    height: 100%;

  }

  .icon_popup {
    width : 50px;
    height : 50px;
  }

  .distance_popup {
    width : 18px;
    height : 18px;
  }

  .table_infos{
    width: 100%;
  }

  .ol-popup {
    z-index:2;
    position: fixed;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.9));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.7));
    bottom: 0px;
    left: 0px;
    width:100%;
  }

  @media screen and (orientation:portrait) {
    .ol-popup {
      height:190px;
      animation: fromBottomPortrait 0.6s;
    }
    }

  .ol-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .ol-popup-title {
    text-align: center;
    background-color: #e74c3c;
    font-weight: bold;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    padding-top: 3%;
    color:white;
  }

  .ol-popup-distance {
    text-align: center;
    font-size: 16px;
    background-color: #e74c3c;
    font-family: "OpenSans-Bold";
    padding-top: 3%;
    padding-bottom: 3%;
    color:white;
  }

  .ol-popup-content {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    padding-top: 3%;
  }

  @keyframes fromBottomPortrait {
    0% {top:100%;}
    100% {top:calc(100% - 190px);}
  }

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
  }
}
