<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PolyVelo'</ion-title>
  </ion-navbar>
</ion-header>

  <div #map id="map" class="map"></div>

  <div id="popup" class="ol-popup">
    <div id="popup-title" class="ol-popup-title"></div>
    <div id="popup-distance" class="ol-popup-distance"></div>
    <div id="popup-content" class="ol-popup-content"></div>
    <a href="#" id="popup-closer" class="ol-popup-close"></a>
  </div>
<button id="geolocate_button" class="geolocate_button" (click)='center();'><img class="geolocate_img" src="assets/img/geolocate.png"></button>
<button id="refresh_button" class="refresh_button" (click)='refresh();'><img class="refresh_img" src="assets/img/refresh.png"></button>
<button id="displayPiste_button" class="displayPiste_button" (click)='displayPiste();'><img class="displayPiste_img" src="assets/img/piste.png"></button>
<button id="changeLayer_button" class="changeLayer_button" (click)='changeLayer();'><img class="changeLayer_img" src="assets/img/layer.png"></button>
<button id="filter_button" class="filter_button" (click)='filter();'><img class="filter_img" src="assets/img/filter.png"></button>

