// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/OpenSans.woff') format('woff'), url('../assets/fonts/OpenSans.ttf')  format('truetype'), url('../assets/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/OpenSans-Bold.woff') format('woff'), url('../assets/fonts/OpenSans-Bold.ttf')  format('truetype'), url('../assets/fonts/OpenSans-Bold.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


#menu
{
  font-family:"OpenSans";
}

body
{
  font-family:"OpenSans";
}
