page-alertes {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .icon_popup {
    height: 40px;
    padding: 0px 15px;
    position:relative;
    top:5px;
  }

  .station
  {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-family: "OpenSans";
  }

  .info_station
  {
    line-height: 50px;
    height: 50px;
    float: right;
    position: relative;
    bottom: 10px;
  }

  .item-md
  {
    padding-left: 0px !important;
  }

  .label-md {
    margin: 13px 8px 13px 16px !important;
  }

  .item_name
  {
    width: 150px;
    float:left;
  }

  .searchbar
  {
  }

  .item-block, .item, .item-md
  {
    overflow:hidden;
    display:block;
  }

  #titreAlertes
  {
    padding: 10px;
    text-align: center;
    font-family: "OpenSans";
    color: #E2574C;
    font-size: 16px;
  }

  #imgAlertes
  {
    text-align: center;
    margin-top: 10px;
  }
}
