<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alertes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div id="imgAlertes"><img class="icon_popup" src="assets/img/closed.png" /></div>
  <div id="titreAlertes">Stations fermées actuellement</div>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      <div class="station" >

        <div class="item_name">
          <span style="font-family:'OpenSans-Bold';">{{ item.name }}</span> est fermée actuellement.
        </div>

      </div>
    </div>
  </ion-list>

</ion-content>
